* text=auto eol=lf
*.sh text eol=lf
*.sv text eol=lf
*.svh text eol=lf
*.f text eol=lf
*.tcl text eol=lf
*.md text eol=lf
Makefile text eol=lf
*.py text eol=lf
*.c text eol=lf
*.json text eol=lf
*.js text eol=lf
*.html text eol=lf
*.cfg text eol=lf
*.sdf text eol=lf
*.hex text eol=lf
*.pdf binary
